/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  margin: 0 auto;
  width: 80%;
  h2{
    margin: 16px 0 16px;
  }
}

label{
  display: block;
  margin-bottom: 8px;
}

input, textarea, select{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #eee;
}

form div{
  margin-bottom: 16px;
}
